@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */
html,
body {
  max-width: 100% !important;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-primary), sans-serif;
  font-optical-sizing: auto;
  background-color: var(--color-white);
}